body {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero-header{
    background-color: #1f2937;
    margin-bottom: 32px;
    padding: 32px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
}

.image {
    height: 300px;
    width: auto;
}

.links {
    display: flex;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    gap: 16px;
}

.header-logo-awesome h2{
    font-size: 48px;
}

.header-logo-awesome p{
    font-size: 16px;
}

.link-img, .header-logo-awesome{
    width: 500px;
}


.margin {
    margin-bottom: 128px;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
    margin-top: 16px;
    border: none;
}


.info {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.images {
    height: 250px;
    width: auto;
    border-radius:32px;
}

.image-desc{
    display: flex;
    justify-content: center;
    gap: 32px;
    text-align: center;
    flex-wrap: wrap;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.quote-container{
    width: 750px;
}

.quote-container p{
    display: flex;
    justify-content: flex-end;
}

.author{
    font-weight: 700;
}

.call-to-action-white{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 100px;
}

.blue-container{
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    padding: 16px;
    border-radius: 8px;
}

.call-to-action{
    font-size: 36px;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.signup{
    font-size: 16px;
    color: white;
}

.signup-button{
    background-color: #3882F6;
    border: 1px solid white;
    padding: 4px 16px;
}

.footer{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;

}